* {
  direction: rtl;
  font-family: "B Lotus", serif;
}

.container, .form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100vh;
}

input {
  border-radius: 0.5rem;
  border-color: black;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  margin: 1rem 1rem;
}

button {
  border-radius: 0.5rem;
  border-color: black;
  font-size: 1.5rem;
  padding: 0 3rem;
}

#logo {
  height: 6rem;
  width: 6rem;
}

.header-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fail-success {
  visibility: hidden;
  background-color: #cccccc;
  font-size: 1rem;
}